body
{
   background-color: gainsboro ; 
}
.container {
    border: 1px solid black;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    font-family: 'lato',sans-serif;
    background-color: cadetblue;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;  
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background-color: green;
    color: white;
}

.flex-blackjack-row-1 div{
    border: 1px solid black;
    padding: 10px;
    flex: 1px;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row-1 img {
width: 25%;
padding: 10px;

}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-3 {
    background-color: gainsboro;
}

table, th, td  {
    padding: 5px;
    border: 1px solid black;
}